:root {
  --vh: 100vh;
}

.container {
  height: calc(var(--vh, 1vh) * 100);
}

/**/

@media (max-width: 400px) {
  .swiper {
    overflow: visible !important;
  }
  /* Rule for the active slide */
  .swiper-slide-active .gallery-image_wrapper {
    transform: scale(1) !important;
    opacity: 1;
  }
  /* Rule for any slide that is not active */
  .swiper-slide:not(.swiper-slide-active) .gallery-image_wrapper {
    transform: scale(0.8) !important;
    opacity: 0.5;
  }
}

@media (min-width: 400px) {
  /* Rule for the active slide  */
  .swiper-slide-active .gallery-image_wrapper {
    transform: scale(0.8) !important;
    opacity: 1;
  }

  /* Rule for any slide that is not active */
  .swiper-slide:not(.swiper-slide-active) .gallery-image_wrapper {
    transform: scale(0.5) !important;
    opacity: 0.5;
  }

  .swiper-slide:not(.swiper-slide-active) .gallery-image_wrapper:hover {
    transform: scale(0.52) !important;
    opacity: 0.5;
    cursor: pointer;
  }
}

.swiper-slide .swiper-text {
  opacity: 0;
  transform: translateY(40px);
}

.swiper-slide-active .swiper-text {
  opacity: 1;
  transform: translateY(0px) !important;
}

/**/

[pageload-visibility] {
  display: flex !important;
}

* {
  box-sizing: border-box;
}
.app {
  height: 100vh;
}
.image {
  width: 7rem;
}
.link img {
  display: none;
}
#triggercontainer canvas {
  opacity: 0.6 !important;
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  z-index: -3 !important;
  pointer-events: none;
}

.circle-container {
  position: relative;
}

.logo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%) rotate(var(--angle)) translate(100px) rotate(calc(-1 * var(--angle)));
  transform-origin: center; /* Ensures rotation is around the center */
}
